{% extends 'shopapp/base.html' %}

{% block title %}
     Заказы
{% endblock %}

{% block body %}
    <h1>Заказы:</h1>
    <div>
        {% for order in object_list %}
            <div>
                <p><a href="{% url 'shopapp:order_details' pk=order.pk %}">Заказ: {{ order.id }}</a></p>
                <p>Адрес: {{ order.adress }}</p>
                <p>Промокод: {{ order.promo }}</p>
                <p>Время: {{ order.created_at }}</p>
                <p>Пользователь: {{ order.user }}</p>
                <h3>Товары в заказе:</h3>
                    <ul>
                        {% for product in order.products.all %}
                            <li>
                                <p>{{ product.name }} по цене {{ product.price }}</p>
                            </li>
                        {% endfor %}
                    </ul>
            </div>
        {% endfor %}
    </div>
{% endblock %}