{% extends 'shopapp/base.html' %}

{% block title %}
    Confirm Delete
{% endblock %}

{% block body %}
    <h1>Удаление продукта {{ object.name }}</h1>
    <h1>Подтвверждаете удаление?</h1>
    <div>
        <form method="post">

            {% csrf_token %}
            {{ form.as_p }}

            <button type="submit">Удалить</button>
        </form>

        <div>
            <a href="{% url 'shopapp:product_details' pk=object.pk %}">Обратно к товару</a>
        </div>
    </div>
{% endblock %}